<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="print" href="{{ asset('public/css/print.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('public/build/app.css') }}" />
    <script src="https://kit.fontawesome.com/48f9136f03.js"></script>
</head>
<body>
<main>
    {% if app.request.requestUri != '/login/' %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div id="bars"><i class="fas fa-bars"></i></div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto sidenav" id="navAccordion">
                <li class="nav-item"><a class="nav-link" style="display: block; text-decoration: none;" href="/admin/">Главная</a></li>
                {% if tables %}
                    {% for key, table in tables %}
                        <li class="nav-item"><a class="nav-link" style="display: block; text-decoration: none;" href="/admin/{{key}}">{{table}}</a></li>
                    {% endfor %}
                {% endif %}
                <li class="nav-item">
                    <a
                            class="nav-link nav-link-collapse"
                            href="#"
                            id="hasSubItems"
                            data-toggle="collapse"
                            data-target="#collapseSubItems2"
                            aria-controls="collapseSubItems2"
                            aria-expanded="false"
                    >Автомобили <i class="fas fa-angle-right"></i></a>
                    <ul class="nav-second-level collapse" id="collapseSubItems2" data-parent="#navAccordion">
                        {% if tables %}
                            {% for key, tableCars in tableCars %}
                                <li class="nav-item"><a class="nav-link" style="display: block; text-decoration: none;" href="/admin/{{key}}">{{tableCars}}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link nav-link-collapse"
                            href="#"
                            id="hasSubItems"
                            data-toggle="collapse"
                            data-target="#collapseSubItems4"
                            aria-controls="collapseSubItems4"
                            aria-expanded="false"
                    >Настройки <i class="fas fa-angle-right"></i></a>
                    <ul class="nav-second-level collapse" id="collapseSubItems4" data-parent="#navAccordion">
                        {% if tables %}
                            {% for key, tableSettingsName in tableSettingsName %}
                                <li class="nav-item"><a class="nav-link" style="display: block; text-decoration: none;" href="/admin/{{key}}">{{tableSettingsName}}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="logout"><span>Привет,{{ user.username }}</span> <a class="btn btn-light" href="{{ path('kiraxe_admin_crm_logout') }}">Выход</a></div>
    </nav>

    <div class="content-wrapper">
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="text-center">
                <span>Create by <a href="https://creart-design.ru">creart-design.ru</a>, 2019</span>
            </div>
        </div>
    </footer>
</main>
{% else %}
    <main id="login">
        {% block login %}{% endblock %}
    </main>
{% endif %}
{% block print %}{% endblock %}
</body>
<script src="{{ asset('public/build/app.js') }}"></script>
{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
{% block ordersform %}{% endblock %}
</html>