{% extends 'base.html.twig' %}
{% block body %}
    <div id="index">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Калькуляция</h1>
                </div>
                <div class="col-md-12">
                    <table>
                        <tr>
                            <td>
                                {{ form_start(form) }}
                                <ul id="filter-date">
                                    <li>{{ form_row(form.dateFrom)}}</li>
                                    <li>{{ form_row(form.dateTo)}}</li>
                                    <li><input style="margin-top: 20px;" class="btn btn-secondary" type="submit" value="Подсчитать" /></li>
                                </ul>
                                {{ form_end(form) }}
                            </td>
                        </tr>
                    </table>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Общая сумма</th>
                                <th>Общая зарплата</th>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <th>Расход</th>
                                    <th>Выручка-зп-экв</th>
                                    <th>Выручка-зп-матириалы-экв</th>
                                    <th>Чистая прибль</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ price }}</td>
                                <td>{{ salary }}</td>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <td>{{ totalExpenses }}</td>
                                    <td>{{ earnings }}</td>
                                    <td>{{ earningsOne }}</td>
                                    <td>{{ earningsSecond }}</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th>ФИО</th>
                            <th>Зарплата</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% if workerCart %}
                                {% for workerCart in workerCart %}
                                    <tr>
                                        <td>{{workerCart.name}}</td>
                                        <td>{{ workerCart.salary}}</td>
                                    </tr>
                                {% endfor %}
                            {% else  %}
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th>Сумма экваринга</th>
                            </tr>
                            </thead>
                            <tbody>
                                <td>{{ interestpayments }}</td>
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

