{% extends 'admin/index.html.twig' %}

{% block content %}
<div id="main">
	<div id="sidebar">
		<ul>
			{% for table in tables %}
				<li><a href="/admin/{{table}}">{{table}}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div id="content">
		<table>
		{% if users is null %}
		{% else %}
		    {% for user in users %}
			  <tr>
			  	<td>{{ user.name }}</td>
			  	<td>{{ user.lastname }}</td>
			  	<td>{{ user.phone }}</td>
			  </tr>
			{% endfor %}
		{% endif%}
		</table>
    <div>
</div>
{% endblock %}