{% extends 'base.html.twig' %}

{% block body %}
    <div id="index">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Список пользователей</h1>
                </div>
                <div class="col-md-12">
                    <ul style="list-style-type: none; margin:0 0 20px 0; padding:0;">
                        <li>
                            <a style="display:inline-block; margin-top: 20px;" class="btn btn-primary" href="{{ path('user_new') }}">Создать нового пользователя</a>
                        </li>
                        <li>
                            <a style="display:inline-block; margin-top: 20px;" class="btn btn-primary" href="{{ path('user_getdump') }}">Скачать базу данных</a>
                        </li>
                        <li>
                            <a style="display:inline-block; margin-top: 20px;" class="btn btn-primary" href="{{ path('kiraxe_admin_crm_homepage') }}">Назад</a>
                        </li>
                    </ul>
                    <table>
                        <tr>
                            <td>
                                {{ form_start(form) }}
                                <ul id="filter-date">
                                    <li>{{ form_row(form.brochure)}}</li>
                                    <li><input style="margin-top: 20px;" class="btn btn-secondary" type="submit" value="Отправить" /></li>
                                </ul>
                                {{ form_end(form) }}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Логин</th>
                            <th scope="col">Почта</th>
                            <th scope="col">Активность</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in pagination %}
                            <tr>
                                <td scope="row"><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{% if user.isActive %}Да{% else %}Нет{% endif %}</td>
                                <td width="20%">
                                    <ul style="list-style-type: none; margin:0; padding:0;">
                                        <li>
                                            <a style="display:block; margin-top: 20px;" class="btn btn-info" href="{{ path('user_show', { 'id': user.id }) }}">Показать</a>
                                        </li>
                                        <li>
                                            <a style="display:block; margin-top: 20px;" class="btn btn-success" href="{{ path('user_edit', { 'id': user.id }) }}">Редактировать</a>
                                        </li>
                                        <li>
                                            {% for key, value in delete_form %}
                                                {% if key == user.username %}
                                                    {{ form_start(value) }}
                                                    <input style="margin-top: 20px; width:100%;" class="btn btn-danger" type="submit" value="Удалить">
                                                    {{ form_end(value) }}
                                                {% endif %}
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagination col-md-12">
                    {{ knp_pagination_render(pagination) }}
                </div>
                <div class="col-md-12">
                    <ul style="list-style-type: none; margin:0 0 20px 0; padding:0;">
                        <li>
                            <a style="display:inline-block; margin-top: 20px;" class="btn btn-primary" href="{{ path('user_new') }}">Создать нового пользователя</a>
                        </li>
                        <li>
                            <a style="display:inline-block; margin-top: 20px;" class="btn btn-primary" href="{{ path('user_getdump') }}">Скачать базу данных</a>
                        </li>
                        <li>
                            <a style="display:inline-block; margin-top: 20px;" class="btn btn-primary" href="{{ path('kiraxe_admin_crm_homepage') }}">Назад</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


