{% extends 'base.html.twig' %}

{% block body %}
    <div id="index">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Список услуг</h1>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" >Id</th>
                            <th scope="col" >Бренд</th>
                            <th scope="col">Модель</th>
                            <th scope="col">Год</th>
                            <th scope="col">Действие</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for model in models %}
                            <tr>
                                <td><a href="{{ path('model_show', { 'id': model.id }) }}">{{ model.id }}</a></td>
                                <td>{% if model.brandId.name %}{{ model.brandId.name }} {% endif %}</td>
                                <td>{{ model.name}}</td>
                                <td>{{ model.year}}</td>
                                <td width="20%">
                                    <ul style="list-style-type: none; margin:0; padding:0;">
                                        <li>
                                            <a style="display:block; margin-top: 20px;" class="btn btn-info" href="{{ path('model_show', { 'id': model.id }) }}">Показать</a>
                                        </li>
                                        <li>
                                            <a style="display:block; margin-top: 20px;" class="btn btn-success" href="{{ path('model_edit', { 'id': model.id }) }}">Редактировать</a>
                                        </li>
                                        <li>
                                            {% for key, value in delete_form %}
                                                {% if key == model.name %}
                                                    {{ form_start(value) }}
                                                    <input style="margin-top: 20px; width:100%;" class="btn btn-danger" type="submit" value="Удалить">
                                                    {{ form_end(value) }}
                                                {% endif %}
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <ul style="list-style-type: none; margin:0; padding:0;">
                        <li>
                            <a style="display:inline-block; margin-top: 20px;" class="btn btn-primary" href="{{ path('model_new') }}">Создать новую модель автомобиля</a>
                        </li>
                        <li>
                            <a style="display:inline-block; margin-top: 20px;" class="btn btn-primary" href="{{ path('kiraxe_admin_crm_homepage') }}">Назад</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
