{% extends 'base.html.twig' %}

{% block body %}
    <div id="form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Создать услугу</h1>
                </div>
                <div class="col-md-6">
                    {{ form_start(form) }}
                    <div class="formItem">{{ form_row(form.name) }}</div>
                    <div class="formItem">{{ form_row(form.pricepackage) }}</div>
                    <div class="formItem">{{ form_row(form.price) }}</div>
                    <div class="formItem">{{ form_row(form.quantitypack) }}</div>
                    <div class="formItem">{{ form_row(form.totalsize) }}</div>
                    <div class="formItem">{{ form_row(form.measureId) }}</div>
                    <div class="formItem">{{ form_row(form.serviceId) }}</div>
                    <div class="formItem">{{ form_row(form.priceUnit) }}</div>
                    <div class="formItem">{{ form_row(form.rating) }}</div>
                    <div class="formItem form-button">
                        <ul>
                            <li><input style="margin-top: 20px;" class="btn btn-success" type="submit" value="Создать" /></li>
                            <li><a style="margin-top: 20px;" class="btn btn-primary" href="{{ path('materials_index') }}">Назад</a></li>
                        </ul>
                    </div>
                    {{ form_end(form) }}
                    <div class="buttonRecover"><a class="btn btn-success" href="{{ path('materials_index') }}">Восстановить</a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('public/js/ajaxAutocom.js') }}"></script>
    <script type="text/javascript">
        "use strict";

        let obj = new AjaxAutocom('#kiraxe_admincrmbundle_materials_name', 'Materials', 'admin_ajaxautocom', '.formItem');
        obj.init();

    </script>
{% endblock %}
