{% extends 'base.html.twig' %}

{% block body %}
    <div id="form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Создать заказ-наряд</h1>
                </div>
                <div class="col-md-6">
                    {{ form_start(form) }}
                    <div class="formItem">{% if form.dateOpen %}{{ form_row(form.dateOpen) }}{% endif %}</div>
                    <div class="formItem">{{ form_row(form.workeropen) }}</div>
                    <div class="formItem">{% if form.dateClose %}{{ form_row(form.dateClose) }}{% endif %}</div>
                    <div class="formItem">{% if form.datePayment %}{{ form_row(form.datePayment) }}{% endif %}</div>
                    <div class="formItem">{{ form_row(form.workerclose) }}</div>
                    <div class="formItem">{{ form_row(form.name) }}</div>
                    <div class="formItem">{{ form_row(form.brandId) }}</div>
                    <div class="formItem">{{ form_row(form.carId) }}</div>
                    <div class="formItem">{{ form_row(form.bodyId) }}</div>
                    <div class="formItem">{{ form_row(form.color) }}</div>
                    <div class="formItem">{{ form_row(form.number) }}</div>
                    <div class="formItem">{{ form_row(form.vin) }}</div>
                    <div class="formItem">{{ form_row(form.description) }}</div>
                    <div class="formItem">{{ form_row(form.damages) }}</div>
                    <div class="formItem">{{ form_row(form.phone) }}</div>
                    <div class="formItem">{{ form_row(form.email) }}</div>
                    <div class="formItem">{{ form_row(form.payment) }}</div>
                    <div class="formItem">{{ form_row(form.price) }}</div>
                    <div class="formItem">{{ form_row(form.close) }}</div>
                    <div class="formItem">
                        <ul style="list-style-type: none" id="workerorders-fields-list"
                            data-prototype="{{ form_widget(form.workerorders.vars.prototype)|e('html_attr') }}"
                            data-widget-tags="{{ '<li></li>'|e }}">
                            {% for workerordersField in form.workerorders %}
                                <li>
                                    {{ form_row(workerordersField) }}
                                </li>
                            {% endfor %}
                        </ul>
                        <div><button type="button" class="add-another-collection-widget btn btn-info" data-list="#workerorders-fields-list">Добавить сотрудника и услугу</button></div>
                    </div>
                    <div class="formItem form-button">
                        <ul>
                            <li><input style="margin-top: 20px;" class="btn btn-success" type="submit" value="Создать" /></li>
                            <li><a style="margin-top: 20px;" class="btn btn-primary" href="{{ path('orders_index') }}">Назад</a></li>
                        </ul>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block ordersform %}
    <script src="{{ asset('public/js/ordersForm.js') }}"></script>
{% endblock %}

